<h1>Booking</h1>
<div class="date-container">
	<div class="col-xs-3">
		<label>Dates</label>
	</div>
	<div class="input-daterange input-group col-xs-9" id="datepicker">
    <input type="text" id="start" class="input-sm form-control" placeholder="Start Date" name="date[start]" />
    <span class="input-group-addon">to</span>
    <input type="text" id="end" class="input-sm form-control" placeholder="End Date" name="date[end]" />
	</div>
</div>