<div class="show-carousel-wrapper">
	<div class="show-carousel">
		<% for(var i = 0; i < listing.get('urls').length; i++){ %>
				<div class="show-carousel-img-wrapper">
					<img 
						class="show-carousel-img" 
						src="<%= listing.get('urls')[i] %>">
				</div>
		<% } %>
	</div>
</div>