<div class="name-and-image-container">
	<img class="gravatar-img user-gravatar-img-explode" src="<%= user.escape('gravatar_url') %>">
	<p class="review-user-info"><%= user.escape('username') %></p>
</div>
<div class="title-container">
	<h1><%= listing.escape('name') %></h1>
	<div class="listing-address">
		<p class="listing-description">
			<%= listing.escape('address') %>
		</p>
	</div>
</div>
<div class="awesome-super-div"></div>


