<div class="new-listing-form-container">
	<div class="new-listing-form-positioning">
		<div class="new-listing-form-labels">
			<div class="block-label" id="name-label">
				<h4>Name</h4>
			</div>
			<div class="block-label" id="description-label">
				<h4>Description</h4>
			</div>
			<div class="block-label" id="address-label">
				<h4>Address</h4>
			</div>
			<div class="block-label" id="price-label">
				<h4>Price</h4>
			</div>
		</div>
		<form class="new-listing-form-wrapper">
			<div class="new-listing-form-block-1-wrapper">
				<input type="text" class="new-listing-form-block input-sm form-control" id="new-listing-name" name="listing[name]">
			</div>
			<div class="new-listing-form-block-2-wrapper">
				<textarea class="new-listing-form-block input-sm form-control" id="new-listing-description" name="listing[description]"></textarea>
			</div>
			<div class="new-listing-form-block-3-wrapper">
				<input type="text" class="new-listing-form-block input-sm form-control" id="new-listing-address" name="listing[address]" id="new-listing-address" placeholder=" ">
			</div>
			<div class="new-listing-form-block-4-wrapper">
				<h4 class="new-listing-price-tag" id="new-listing-price-money">$</h4>
				<input type="number" class="new-listing-form-block input-sm form-control" id="new-listing-price" name="listing[price]">
				<h4 class="new-listing-price-tag" id="new-listing-price-amount">/ night</h4>
			</div>
			<div class="new-listing-form-submit-wrapper">
				<button class="btn btn-danger new-listing-button">Submit</button>
			</div>
		</form>
		<div class="awesome-super-div"></div>
	</div>
	<div class="awesome-super-div"></div>
</div>
<div class="awesome-super-div"></div>
