<div class="new-listing-form-container">
	<div class="new-listing-form-labels">
		<div class="block-label">
			<h4>Name</h4>
		</div>
		<div class="block-label">
			<h4>Description</h4>
		</div>
		<div class="block-label">
			<h4>Address</h4>
		</div>
		<div class="block-label">
			<h4>Price</h4>
		</div>
	</div>
	<form class="new-listing-form-wrapper">
		<div class="new-listing-form-block-1-wrapper">
			<input type="text" class="new-listing-form-block input-sm form-control" name="listing[name]">
		</div>
		<div class="new-listing-form-block-2-wrapper">
			<textarea class="new-listing-form-block input-sm form-control" name="listing[description]"></textarea>
		</div>
		<div class="new-listing-form-block-3-wrapper">
			<input type="text" class="new-listing-form-block input-sm form-control" name="listing[address]">
		</div>
		<div class="new-listing-form-block-4-wrapper">
			<input type="text" class="new-listing-form-block input-sm form-control" name="listing[price]">
		</div>
		<div class="new-listing-form-submit-wrapper">
			<button class="btn btn-danger opening-button">Submit</button>
		</div>
	</form>
</div>