<form class="new-listing-form-container">
	<div class="new-listing-form-header">
		
	</div>
	<div class="new-listing-form-block-1-wrapper">
		
	</div>
	<div class="new-listing-form-block-2-wrapper">
		
	</div>
	<div class="new-listing-form-block-3-wrapper">
		
	</div>
	<div class="new-listing-form-submit-wrapper">
		
	</div>
</form>