<div class="new-listing-title">
	<h2 class="new-listing-title-header">
		Upload Some Fictional Images!
	</h2>
	<p class="new-listing-title-subheader">
		choose a photo you'd like to upload, then click submit
	</p>
</div>
<div class="new-images-form"></div>