<div class="new-listing-form-container">
	<div class="new-listing-form-positioning">
		<form class="new-image-form-wrapper" enctype="multipart/form-data">
			<input name='file' type='file'>
			<div class="new-listing-form-submit-wrapper">
				<button class="btn btn-danger new-image-button">Submit</button>
			</div>
		</form>
		<div class="awesome-super-div"></div>
	</div>
	<div class="awesome-super-div"></div>
</div>
<div class="awesome-super-div"></div>
