<div class="new-listing-form-container">
	<div class="new-listing-form-positioning">
		<form class="new-image-form-wrapper">
			<input name='file' type='file'>
		</form>
		<div class="awesome-super-div"></div>
	</div>
	<div class="awesome-super-div"></div>
</div>
<div class="awesome-super-div"></div>
