<div class="item-carousel-wrapper">
  <div class="item-carousel">
    <% for(var i = 0; i < urls.length; i++){ %>
        <div class="item-carousel-img-wrapper">
        	<img class="item-carousel-img" src="<%= urls[i] %>">
        </div>
    <% } %>
  </div>
</div>