<div class="item-carousel-wrapper">
  <div class="item-carousel">
    <% for(var i = 0; i < listing.get('urls').length; i++){ %>
        <div><img class="item-carousel-img" src="<%= listing.get('urls')[i] %>"></div>
    <% } %>
  </div>
</div>