<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <% for(var i = 0; i < listing.get('urls').length; i++){ %>
    	<div class="<%= i === 0 ? 'item active' : 'item' %>">
    		<div class="bannerImage">
    			<a href="#">
    				<img src="<%= listing.get('urls')[i] %>">
    			</a>
    		</div>
    	</div>
    <% } %>
  </div>        
  <div class="control-box">                            
    <a data-slide="prev" href="#myCarousel" class="carousel-control left">
    	‹
    </a>
    <a data-slide="next" href="#myCarousel" class="carousel-control right">
    	›
    </a>
  </div><!-- /.control-box -->   
</div><!-- /#myCarousel -->
