<div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
 
            <div class="item active">
            
                <div class="bannerImage">
                    <a href="#"><img src="http://placehold.it/960x405" alt=""></a>
                </div>
                                                         
            </div><!-- /Slide1 --> 

            <div class="item">
            
                <div class="bannerImage">
                    <a href="#"><img src="http://placehold.it/960x405" alt=""></a>
                </div>                           
            </div><!-- /Slide2 -->             

            <div class="item">
            
                <div class="bannerImage">
                    <a href="#"><img src="http://placehold.it/960x405" alt=""></a>
                </div>                        
            </div><!-- /Slide2 -->                      
 
        </div>
        
        <div class="control-box">                            
            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
        </div><!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.span12 -->          
</div><!-- /.row --> 
</div><!-- /.container -->
