<div class="listing">
	<div class="listing-mouseover">
		<div class="carousel-container"></div>
		<div class="listing-description">
			<a class="listing-content-wrapper" href="#/listings/<%= id %>">
				<%= listing.escape('name') %>
			</a>
		</div>
	</div>
</div>