<div class="location-container">
	<div class="col-xs-3">
		<label>Location</label>
	</div>
	<div class="col-xs-9 location-search-container">
		<input type="text" placeholder="try new york city" class="listing-search-block input-sm form-control" name="search[location]" value="<%= location %>">
		<button class="btn btn-danger opening-button" id="search-submit">Search</button>
	</div>
</div>
<form>
	<div class="date-container">
		<div class="col-xs-3">
			<label>Dates</label>
		</div>
		<div class="input-daterange input-group col-xs-9" id="datepicker">
	    <input type="text" id="start" class="input-sm form-control" placeholder="Start Date" name="date[start]" />
	    <span class="input-group-addon">to</span>
	    <input type="text" id="end" class="input-sm form-control" placeholder="End Date" name="date[end]" />
		</div>
	</div>
	<div class="price-container">
		<div class="price-title">
			<label>Price Range</label>
		</div>
		<div class="input-pricerange">
			<b>
				$0
			</b>
			<input 
				id="price-slider" 
				type="text"
				name="price"
				class="span2" 
				value="" 
				data-slider-min="0" 
				data-slider-max="1000" 
				data-slider-step="5" 
				data-slider-value="[0,1000]"/> 
			<b>
				$1000
			</b>
		</div>
	</div>
</form>