<div class="col-6 row-space-1">
	<div class="listing">
		<div class="panel-image listing-img">
			<a href="#" class="media-photo-cover">
				<div class="listing-img-container media-cover text-center">
					<img src="#" class="img-responsive-height">
				</div>
			</a>
		</div>
		<div class="panel-body panel-card-section">
			<div class="media">
				<a href="#" class="user-photo">
					<img src="#">
				</a>
				<div class="listing-title">
					<%= listing.escape('name') %>
				</div>
			</div>
		</div>
	</div>
</div>
