<h1>Search</h1>
<form>
	<label>
		Price Min:
		<input 
			type="number"
			name="price[min]"
			min="0">
	</label>
	<label>
		Price Max:
		<input
			type="number"
			name="price[max]"
			min="0">
	</label>
	<input
		type="submit"
		value="Submit">
</form>