<div class="listing">
	<div class="listing-mouseover">
		<div class="carousel-container"></div>
		<div class="listing-description">
			<a 
				class="listing-content-wrapper" 
				href="#/listings/<%= id %>">
				<%= listing.escape('name') %> $<%= listing.escape('price') %>
			</a>
		</div>
	</div>
</div>