// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
	display: inline-block;
	top: 0px;
}
body {
  /*height: 900px;*/
	/*width: 900px;*/
}
.backdrop {
	position: relative;
	top: 30px;
	background-color: lightgrey;
	height: 100%;
	width: 100%;
}
#main, .main, {
	height: 100%;
	width: 100%;
}
.google {
	display: inline-block;
	height: 100%;
	width: 49%;
	background-color: blue;
}
.other{
	display: inline-block;
	/*float: right;*/
	min-height: 400px;
	height: 100%;
	width: 50%;
	background-color: red;
}
.google-view{
	height: 100%;
	width: 100%;
}
#map-canvas {
	min-height: 400px;
	height: 100%;
	width: 100%;
	position: relative;
	top: 19px;
}