// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
	display: inline-block;
	top: 0px;
}
html {
	height: 100%;
}
body {
  height: 100%;
}
.backdrop {
	position: relative;
	top: 30px;
	height: 100%;
	width: 100%;
}
#main, .main, {
	height: 100%;
	width: 100%;
}
.google {
	display: inline-block;
	height: 100%;
	width: 39%;
}
.other{
	position: fixed;
	top: 30px;
	display: inline-block;
	/*float: right;*/
	min-height: 400px;
	height: 100%;
	width: 60%;
}
.google-view{
	position: fixed;
	top: 30px;
	display: inline-block;
	height: 100%;
	width: 100%;
}
#map-canvas {
	min-height: 400px;
	height: 100%;
	width: 100%;
	position: relative;
	top: 19px;
}

/* Listings Index Items */

.listing-description {
	padding: 10px;
}

.listing-mouseover:hover {
	opacity: 1.0;
}

a:hover {
	text-decoration: none;
}

.listings-index {
	padding-right: 15px;
	background-color: #f5f5f5;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}