// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.row {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

h1, p {
	text-align: center;
}

ul.errors {
	display: inline-block;
}

li.errors {
	text-align: left;
	color: red;
}

.gravatar-img {
	background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 50px;
  height: 50px;
}

nav.navbar > div.container > div#navbar > ul.nav > li > .navbar-img {
	padding-top: 0;
	padding-bottom: 0;
}

.login-text {
	color: black;
}