<div class="opening-carousel-wrapper">
	<div class="carousel">
		<% openingImages = ['/assets/mad_men.jpg', '/assets/breaking_bad.jpg', '/assets/seinfeld_main.jpg'] %>
		<% for(var i = 0; i < openingImages.length; i++){ %>
				<div class="opening-carousel-img-wrapper"><img class="opening-carousel-img" src="<%= openingImages[i] %>"></div>
		<% } %>
	</div>
</div>