<div class="opening-carousel-wrapper">
	<div class="carousel">
		<% openingImages = ['http://wallpapers5.com/images/wallpapers/50492541/Movies/TV%20Shows/TV%20Show-Breaking%20Bad-96377.jpg', 'http://www.rantlifestyle.com/wp-content/uploads/2014/06/seinfeld-4fcd7c7c8618e-2.jpg', 'http://images.amcnetworks.com/amctv.com/wp-content/uploads/2014/04/MM-S3-explore-980x551-clean.jpg'] %>
		<% for(var i = 0; i < openingImages.length; i++){ %>
				<div class="opening-carousel-img-wrapper"><img class="opening-carousel-img" src="<%= openingImages[i] %>"></div>
		<% } %>
	</div>
</div>