<div class="opening-carousel"></div>
<div class="search-area text-center">
	<div class="page-container page-container-responsive row-full-height">
		<div class="intro-area row row-table row-full-height">
			<div class="col-12 col-middle">
				<h1 class="uppercase text-jumbo text-contrast row-space-1 text-title">WELCOME HOME</h1>
				<div class="h4 text-contrast row-space-4">
					Rent your favorite fictional places from your favorite fictional hosts
				</div>
			</div>
		</div>
	</div>
</div>
<div class="opening-search-container"></div>