<form class="opening-search-form">
	<div class="date-container opening-form-dates">
		<input type="text" placeholder="try new york city" class="opening-search-block input-sm form-control" name="search[location]">
		<div class="input-daterange input-group date-search-input" id="datepicker">
	    <input type="text" id="start" class="input-sm form-control opening-start" placeholder="Start Date" name="search[start_date]" />
	    <input type="text" id="end" class="input-sm form-control opening-end" placeholder="End Date" name="date[end_date]" />
	    <button class="btn btn-danger opening-button">Search</button>
		</div>
	</div>
</form>
